body{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
.logo{
    position: absolute;
    top:0.5%;
    left:5%;
}
h1{
    font-size: 5vw;
    font-family: 'Bree Serif', serif;
}
span{
    color: #65a2eb;
}